@charset "UTF-8";

html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: rgb(77, 53, 31);
}
a {
  text-decoration: none;
}
.page-header {
  color: rgb(248, 240, 233);
  font-family: 'Hepta Slab', serif;
}
.home-nav a {
  color: rgb(248, 240, 233);

}
.home-nav a:hover {
  color: rgb(73, 59, 45);

}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: rgb(248, 240, 233);
}
.main-nav a:hover {
  color: rgb(73, 59, 45);
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
#menu {
  background-image: url(https://dl.dropboxusercontent.com/s/1piw15t34ote5el/d997ed9b-d2b3-4fc6-8877-d6a660bf5e0b.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 0%;
}
.page-content {
  padding-top: 0%;
  position: relative;
}
.page-title {
  font-family: 'Hepta Slab', serif;
  font-size: 4.5rem;
}
.page-content {
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: whitesmoke;
  
}
.page-title {
  text-align: center;
}
.accesslink {
  color: rgb(230, 235, 214);
}
.page-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.wrapper {
  max-width: 1125px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  background: #432;
  text-align: right;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
